.App {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.header {
  background-color: #d4a373;
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.task {
  display: flex;
  justify-content: space-evenly;
}

button {
  height: 30px;
  background-color: #d4a373;
  border: 0px;
  border-radius: 10px;
  display: block;
  margin: auto;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}